<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KRISHNA WEBSITE| --KR$NA--</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>

<body>
    <div class="wrapper">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <h2>Login</h2>
            <div class="input-field">
                <input type="email" name="email" required>
                <label>Enter your email</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" required>
                <label>Enter your password</label>
            </div>
            <div class="forget">
                <label for="remember">
                    <input type="checkbox" id="remember">
                    <p>Remember me</p>
                </label>
                <a href="#">Forgot password?</a>
            </div>
            <a href="#">
                <button type="button">SUBMIT</button>
            </a>
            <div class="reg">
                <p>Don't have an account? <a href="reg">Register</a></p>
            </div>
        </form>
    </div>
</body>

</html>