<!DOCTYPE html>
<!-- <{load static}> -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KRISHNA WEBSITE| --KR$NA--</title>
  <link rel="stylesheet" href="static/css/stylecontact.css">
  <!-- Google Fonts Links For Icon -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
</head>

<body>
  {% block content %}
  <header>
    <nav class="navbar">
      <a class="logo" href="#">---K₹$NA---<span></span></a>
      <ul class="menu-links">
        <span id="close-menu-btn" class="material-symbols-outlined">close</span>
        <li><a href="home">Home</a></li>
        <li><a href="product">Products</a></li>
        <li><a href="reg">Member</a></li>
        <li><a href="about">About us</a></li>
        <!-- <li><a href="contact">Contact us</a></li> -->
        <li><a href="myfirst">Back</a></li>
      </ul>
      <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
    </nav>
  </header>
  {% endblock %}

  <section class="hero-section">
    <!-- <div class="content"> -->
    <!-- <h2> contact page</h2> -->

  <!-- <section
  class="hero-section">
  h2> contact page</h2> -->

    </div>
  </section>



  <h2 style="text-align:center">CONTACT DETAILS>></h2>

  <div class="card">
    <img src="static/images/sofa.jpg" width="360" height="450">


    <alt="KR$NA" style="width:1%">
      <address>
        <h2><strong>---K₹$NA---</strong><br><Br></h2>

        <!-- Clickable Email Link -->
        "Email"---: <a href="KRISHNA@gmail.com">KRISHNA@example.com</a><br><br>

        <!-- Clickable Phone Link -->
        "Phone"---: <a href="tel:+9192948293929">+9192948293929</a><br><br>

        "Physical Address"---
        175 , Near Burger king ,<BR>"SAMYAK COMPUTER CLASS"<BR>
        INDORE(452020), MP , india..!

      </address>

      <h1><strong>KRISHNA HARDIYA</strong></h1>
      <p class="title">UG STUDENT, IPS COLLEGE
  </div>
  <!-- <p>SAMYAK COMPUTER CLASS</p> -->
  <!-- <p>Harvard University</p> -->
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>GO UPP</button></p>
  </div>

</body>


<script>
  const header = document.querySelector("header");
  const hamburgerBtn = document.querySelector("#hamburger-btn");
  const closeMenuBtn = document.querySelector("#close-menu-btn");

  // Toggle mobile menu on hamburger button click
  hamburgerBtn.addEventListener("click", () => header.classList.toggle("show-mobile-menu"));

  // Close mobile menu on close button click
  closeMenuBtn.addEventListener("click", () => hamburgerBtn.click());
</script>

</body>


</html>